<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartloan.smtrick.smart_loan_admin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activites.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activites.LoginScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.Registeractivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.activites.Home_Activity" >

        </activity>
    </application>

</manifest>