<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartloan.smtrick.smart_loan_admin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activites.TL_Updatelead_Coapplicant_Detail_Activity"></activity>
        <activity
            android:name=".view.activites.SplashScreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activites.LoginScreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.Registeractivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activites.Home_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.AccountantHomeActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".view.activites.AccountantUpdateLeedsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.MainActivity_telecaller"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.Updatelead_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.MainActivity_sales"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.MainActivity_coordinator"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.ViewLead_Sales_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.Coordinator_Update_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.TermsCondition_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.View_lead_admin_activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.Generate_invoice_Activity_Accountant"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.TL_Updatelead_C_Details_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.Tl_Updatelead_incomedetails_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activites.TL_Updatelead_property_Details_Activity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>